footer {
    position: relative;
    background-image: url("../background-footer.jpg");
    padding: 5vh 2vw;
}
.div-footer-left {
    position: absolute;
    left:5vw;
    bottom:2vh;
}
.div-footer-left > img {
    width: 20vh;
}
.div-footer-left > div > img {
    width: 3vh;
    margin: 0 1vh;
}

.div-footer-right {
    position: absolute;
    left:50vw;
    bottom:1vh;
}
.div-footer-right > h2 {
    font-size:2vh;
    font-weight: 700;
    margin-bottom: 1vh;
}
.div-footer-right > p {
    font-size: 1.5vh;
    line-height: 1.2;
}