footer {
    position: relative;
    background-image: url("../background-footer.jpg");
    padding: 40px 0 30px 0;
    height: 115px;
}
.div-footer-left {
    position: absolute;
    left:5vw;
}
.div-footer-left > img {
    width: 20vh;
}
.div-footer-left > div > img {
    width: 3vh;
    margin: 0 1vh;
}

.div-footer-right {
    position: absolute;
    left:50vw;
}
.div-footer-right > h2 {
    font-size: 20px;
    line-height: 1.5;
}
.div-footer-right > p {
    font-size: 14px;
    line-height: 22px;
}