.navMenu {
    position: relative;
    padding: auto 1.5vw;
}
.navMenu > div {
    width: 15.5vw;
    text-align: center;
    transition: 1s;
}
.navMenu > div:hover{
    border-bottom: 1px solid red;
}
.navMenu > div > button {
    padding: 2.5vh 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5vw;
    font-weight: 700;
    white-space: nowrap;
}
.subMenu {
    visibility: hidden;
    position: absolute;
    border: none;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(-2em);
}
.subMenu a {
    display: inline-block;
    width: 15.5vw;
    padding: 2.5vh 0;
    font-size: 1.5vw;
    white-space: nowrap;
}
a {
    color: inherit;
    text-decoration: none;
}