.navMenu {
    position: relative;
}
.navMenu > div {
    width: 9vw;
    text-align: center;
}
.navMenu > div > button {
    width: 9vw;
    padding-bottom: 1.5vh;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1vw;
}
.subMenu {
    display: none;
    position: absolute;
}
.subMenu > a {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    width: 9vw;
    padding: 2.5vh 0;
    font-size: 0.8vw;
}
a {
    color: inherit;
    text-decoration: none;
}