.nav-right {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 2.5vw;
    top: 30vh;
    width: 6vw;
    height: 24vw;
    z-index: 1;
}
.nav-right > a {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0.5vw 0;
    width: 5vw;
    height: 5vw;
    background-color: tomato;
    border-radius: 50%;
}
.nav-right > a > p {
    position: absolute;
    color: white;
    bottom: 1vw;
    font-size: 0.9vw;
    font-weight: 500;
}