@media(min-width: 800px){
    .section-brandStory {
        height: 130vh;
        position: relative;
    }
    .section-brandStory > h1 {
        position: absolute;
        top: 35vh;
        left: 50vw;
        font-size: 30px;
        letter-spacing: 4px;
    }
    .section-brandStory > img {
        position: absolute;
        top: 47vh;
        left: 370px;
        width: 450px;
        height: 360px;
    }
    .section-brandStory > div {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 47vh;
        left: 850px;
    }
    .section-brandStory > div > h2 {
        font-size: 19.5px;
        line-height: 2vw;
        margin: 0 auto;
        letter-spacing: 4px;
    }
    .section-brandStory > div > p {
        font-size: 13.5px;
        line-height: 1.8;
        letter-spacing: 4px;
    }
}

@media(max-width: 800px){
    .section-brandStory {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 170vh;
        position: relative;
    }
    .section-brandStory img {
        margin: 35vh auto 0;
        width: 90vw;
    }
    .section-brandStory > h1 {
        font-size: 35px;
        padding-left: 2vw;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 2vh;
        margin-bottom: 5px;
    }
    .section-brandStory h2 {
        font-size: 16px;
        padding-left: 2vw;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 2vh;
        margin-bottom: 5px;
    }
    .section-brandStory p {
        font-size: 14px;
        padding-left: 2vw;
        font-weight: 300;
        line-height: 1.6;
    }
}
