.section-brandStory {
    height: 100vh;
    position: relative;
}
.section-brandStory > h1 {
    position: absolute;
    top: 20vh;
    left: 50vw;
    font-size: 3vw;
}
.section-brandStory > img {
    position: absolute;
    top: 30vh;
    left: 20vw;
    width: 35vw;
    height: 60vh;
}
.section-brandStory > div {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30vh;
    left: 60vw;
}
.section-brandStory > div > h2 {
    font-size: 1.5vw;
    line-height: 2vw;
}
.section-brandStory > div > p {
    font-size: 1vw;
    line-height: 2vw;
}