.section-educationalCourse {
    height: 110vh;
    position: relative;
}
.section-educationalCourse > h1 {
    position: absolute;
    top: 35vh;
    left: 40vw;
    font-size: 30px;
}
.section-educationalCourse > div {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 47vh;
    left: 30vw;
}
.section-educationalCourse > img {
    position: absolute;
    top: 47vh;
    left: 55vw;
    width: 25vw;
    height: 50vh;
}
.section-educationalCourse > div > h2 {
    font-size: 1.5vw;
    line-height: 19.5px;
}
.section-educationalCourse > div > p {
    font-size: 1vw;
    line-height: 13.5px;
}