@media(min-width: 1600px){
    .section-educationalCourse {
        height: 130vh;
        position: relative;
    }
    .div-educationalCourse {
        position: absolute;
        top: 35vh;
        left: 300px;
        width: 76.5vw;
        padding: 0;
        margin: 0 1vw;
        height: 500px;
    }
    .div-educationalCourse > h1 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        width: 346px;
        font-size: 30px;
        letter-spacing: 6px;
    }
    .div-inner-educationalCourse {
        position: absolute;
        display: flex;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 1205px;
        font-size: 30px;
        letter-spacing: 6px;
    }
    .div-inner-educationalCourse > img {
        height: 450px;
        margin-right: 25px;
    }
    .div-inner-educationalCourse > div {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        width: 478px;
    }
    .div-inner-educationalCourse > div > h2 {
        font-size: 19.5px;
        line-height: 1.6;
        letter-spacing: 6px;
    }
    .div-inner-educationalCourse > div > p {
        font-size: 13.5px;
        line-height: 1.8;
        letter-spacing: 6px;
    }
}
@media(min-width: 800px) and (max-width: 1600px){
    .section-educationalCourse {
        height: 130vh;
        position: relative;
        letter-spacing: 4px;
    }
    .div-educationalCourse {
        position: absolute;
        top: 35vh;
        left: 300px;
        width: 76.4vw;
        padding: 0;
        margin: 0 3vw;
        height: 500px;
    }
    .div-educationalCourse > h1 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        width: 223px;
        font-size: 30px;
        letter-spacing: 4px;
    }
    .div-inner-educationalCourse {
        position: absolute;
        display: flex;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 1197px;
        font-size: 30px;
        letter-spacing: 4px;
    }
    .div-inner-educationalCourse > img {
        height: 435px;
        margin-right: 25px;
    }
    .div-inner-educationalCourse > div {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        width: 418px;
    }
    .div-inner-educationalCourse > div > h2 {
        font-size: 19.5px;
        line-height: 1.6;
        letter-spacing: 4px;
    }
    .div-inner-educationalCourse > div > p {
        font-size: 13.5px;
        line-height: 1.8;
        letter-spacing: 4px;
    }
}

@media(max-width: 800px){
    .section-educationalCourse {
        height: 170vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .section-educationalCourse img {
        margin: 35vh auto 0;
        width: 90vw;
        height: 60vw;
    }
    .section-educationalCourse > h1 {
        font-size: 35px;
        padding-left: 2vw;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 2vh;
        margin-bottom: 5px;
    }
    .section-educationalCourse h2 {
        font-size: 16px;
        padding-left: 2vw;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 2vh;
        margin-bottom: 5px;
    }
    .section-educationalCourse p {
        font-size: 14px;
        padding-left: 2vw;
        font-weight: 300;
        line-height: 1.6;
    }
}

@media(max-height: 600px){
    .section-educationalCourse {
        height: 800px;
        position: relative;
    }
}
