@media(min-width: 1600px){
    .section-luluRalaProgramGuide {
        height: 150vh;
        position: relative;
        letter-spacing: 6px;
    }
    .div-luluRalaProgramGuide {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 35vh;
        left: 300px;
        width: 76.4vw;
        padding: 0;
        margin: 0 3vw;
        height: 500px;
    }
    .div-inner-luluRalaProgramGuide {
        position: relative;
        width: 1000px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .div-inner-luluRalaProgramGuide > h1 {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: inline-block;
        width: 487px;
        font-size: 30px;
        letter-spacing: 6px;
    }
    .div-inner-luluRalaProgramGuide > img {
        margin: 100px 0 50px 0;
        width: 1000px;
        height: 400px;
    }
    .div-inner-luluRalaProgramGuide > div {
        display: flex;
        width: 1000px;
    }
    .div-inner-luluRalaProgramGuide > div > .section-left {
        display: inline-block;
    }
    .div-inner-luluRalaProgramGuide > div > .section-right {
        display: inline-block;
        margin-left: 100px;
    }
    .div-inner-luluRalaProgramGuide > div > div > h2 {
        font-size: 19.5px;
        line-height: 1.6;
        letter-spacing: 6px;
        margin-bottom: 25px;
    }
    .div-inner-luluRalaProgramGuide > div > div > p {
        font-size: 13.5px;
        line-height: 1.8;
        letter-spacing: 6px;
    }
}
@media(min-width: 800px) and (max-width: 1600px){
    .section-luluRalaProgramGuide {
        height: 150vh;
        position: relative;
        letter-spacing: 4px;
    }
    .div-luluRalaProgramGuide {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 35vh;
        left: 300px;
        width: 76.4vw;
        padding: 0;
        margin: 0 3vw;
        height: 500px;
    }
    .div-inner-luluRalaProgramGuide {
        position: relative;
        width: 1000px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .div-inner-luluRalaProgramGuide > h1 {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: inline-block;
        width: 441px;
        font-size: 30px;
        letter-spacing: 4px;
    }
    .div-inner-luluRalaProgramGuide > img {
        margin: 100px 0 50px 0;
        width: 1000px;
        height: 400px;
    }
    .div-inner-luluRalaProgramGuide > div {
        display: flex;
        width: 1000px;
    }
    .div-inner-luluRalaProgramGuide > div > .section-left {
        display: inline-block;
    }
    .div-inner-luluRalaProgramGuide > div > .section-right {
        display: inline-block;
        margin-left: 100px;
    }
    .div-inner-luluRalaProgramGuide > div > div > h2 {
        font-size: 19.5px;
        line-height: 1.6;
        letter-spacing: 4px;
        margin-bottom: 20px;
    }
    .div-inner-luluRalaProgramGuide > div > div > p {
        font-size: 13.5px;
        line-height: 1.8;
        letter-spacing: 4px;
    }
}

@media(max-width: 800px){
    .div-inner-luluRalaProgramGuide  {
        height: 150vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .div-inner-luluRalaProgramGuide img {
        margin: 35vh auto 0;
        width: 90vw;
        height: 60vw;
    }
    .div-inner-luluRalaProgramGuide > h1 {
        font-size: 35px;
        padding-left: 2vw;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 2vh;
        margin-bottom: 5px;
    }
    .div-inner-luluRalaProgramGuide h2 {
        font-size: 16px;
        padding-left: 2vw;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 2vh;
        margin-bottom: 5px;
    }
    .div-inner-luluRalaProgramGuide p {
        font-size: 14px;
        padding-left: 2vw;
        font-weight: 300;
        line-height: 1.6;
    }
}

@media(max-height: 600px){
    .section-luluRalaProgramGuide {
        height:     1000px;
        position: relative;
    }
}
