.section-luluRalaPlayingEnglish {
    height: 110vh;
    position: relative;
}
.section-luluRalaPlayingEnglish > h1 {
    position: absolute;
    top: 35vh;
    left: 45vw;
    font-size: 30px;
}
.section-luluRalaPlayingEnglish > img {
    position: absolute;
    top: 47vh;
    left: 25vw;
    width: 30vw;
    height: 50vh;
}
.section-luluRalaPlayingEnglish > div {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 47vh;
    left: 60vw;
}
.section-luluRalaPlayingEnglish > div > p {
    font-size: 13.5px;
    line-height: 2vw;
}