@media(min-width: 800px){
    .section-luluRalaProgramGuide {
        height: 120vh;
        position: relative;
        letter-spacing: 4px;
    }
    .section-luluRalaProgramGuide > h1 {
        position: absolute;
        top: 35vh;
        margin: 0 auto;
        font-size: 30px;
    }
    .section-luluRalaProgramGuide > img {
        position: absolute;
        top: 47vh;
        left: 27vw;
        width: 55vw;
        height: 40vh;
    }
    .section-luluRalaProgramGuide > div {
        position: absolute;
        top: 87vh;
    }
    .section-left {
        left: 27vw;
    }
    .section-right {
        left: 60vw;
    }
    .section-luluRalaProgramGuide > div > h2 {
        font-size: 19.5px;
        line-height: 5vw;
    }
    .section-luluRalaProgramGuide > div > p {
        font-size: 13.5px;
        line-height: 1.7vw;
    }
}

@media(max-width: 800px){
    .section-luluRalaProgramGuide  {
        height: 150vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .section-luluRalaProgramGuide img {
        margin: 35vh auto 0;
        width: 90vw;
        height: 60vw;
    }
    .section-luluRalaProgramGuide > h1 {
        font-size: 35px;
        padding-left: 2vw;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 2vh;
        margin-bottom: 5px;
    }
    .section-luluRalaProgramGuide h2 {
        font-size: 16px;
        padding-left: 2vw;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 2vh;
        margin-bottom: 5px;
    }
    .section-luluRalaProgramGuide p {
        font-size: 14px;
        padding-left: 2vw;
        font-weight: 300;
        line-height: 1.6;
    }
}

