.section-luluRalaPlayingEnglish {
    height: 100vh;
    position: relative;
}
.section-luluRalaPlayingEnglish > h1 {
    position: absolute;
    top: 20vh;
    left: 45vw;
    font-size: 3vw;
}
.section-luluRalaPlayingEnglish > img {
    position: absolute;
    top: 30vh;
    left: 20vw;
    width: 35vw;
    height: 60vh;
}
.section-luluRalaPlayingEnglish > div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30vh;
    left: 60vw;
}
.section-luluRalaPlayingEnglish > div > p {
    font-size: 1vw;
    line-height: 2vw;
}