.section-philosophyOfEducation {
    height: 110vh;
    position: relative;
}
.section-philosophyOfEducation > h1 {
    position: absolute;
    top: 35vh;
    left: 40vw;
    font-size: 30px;
}
.section-philosophyOfEducation > h2 {
    position: absolute;
    top: 45vh;
    left: 46vw;
    font-size: 19.5px;
}
.section-philosophyOfEducation > .div-philosophyOfEducation-vertical {
    position: absolute;
    top: 52vh;
    left: 33.5vw;
}
.section-philosophyOfEducation > div > p {
    font-size: 13.5px;
    line-height: 2vw;
}
.section-philosophyOfEducation > img {
    position: absolute;
    border: 1px solid red;
    top: 65vh;
    left: 23vw;
    width: 75vw;
    height: 20vh;
}
.section-philosophyOfEducation > .div-philosophyOfEducation-horizontal {
    position: absolute;
    display: flex;
    top: 90vh;
    left: 22vw;
}
.section-philosophyOfEducation > .div-philosophyOfEducation-horizontal > div {
    margin: 2vh 1.8vw;
    white-space: nowrap;
}
.section-philosophyOfEducation > .div-philosophyOfEducation-horizontal > div > h2 {
    font-size: 19.5px;
    line-height: 1vw;
}
.section-philosophyOfEducation > .div-philosophyOfEducation-horizontal > div > p {
    font-size: 13.5px;
    line-height: 6vw;
}