@media(min-width: 800px){
    .section-philosophyOfEducation {
        height: 110vh;
        position: relative;
    }
    .section-philosophyOfEducation > img {
        position: absolute;
        top: 35vh;
        left: 350px;
        width: 600px;
        height: 440px;
    }
    .section-philosophyOfEducation > div {
        position: absolute;
        top: 35vh;
        left: 970px;
        width: 390px;
        letter-spacing: 2px;
    }
    .section-philosophyOfEducation > div :first-child {
        margin-bottom: 20px;
        line-height: 2;
    }
    .section-philosophyOfEducation > div > h2 {
        font-size: 21px;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 5px;
    }
    .section-philosophyOfEducation > div > p {
        font-size: 13.5px;
        line-height: 1.4;
        margin-bottom: 10px;
    }
}

@media(max-width: 800px) {
    .section-philosophyOfEducation {
        height: 140vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .section-philosophyOfEducation > img {
        margin: 35vh auto 0;
        width: 90vw;
    }
    .section-philosophyOfEducation h2 {
        font-size: 16px;
        font-weight: 700;
        padding-left: 2vw;
        line-height: 1.2;
        margin-top: 2vh;
        margin-bottom: 5px;
    }
    .section-philosophyOfEducation p {
        font-size: 14px;
        padding-left: 2vw;
        font-weight: 300;
        line-height: 1.6;
    }
}