.section-requestForConsultation {
    height: 100vh;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.section-requestForConsultation > h1 {
    position: absolute;
    top: 10vh;
    font-size: 3vw;
}
.section-requestForConsultation > form {
    position: absolute;
    background-color: white;
    padding: 0.3vh 2vw 4vh 2vw;
    box-sizing: border-box;
    top: 30vh;
    left: 5vw;
    width: 42vw;
}
.section-requestForConsultation > form > h2 {
    font-size: 1.5vw;
    line-height: 4vh;
}
.section-requestForConsultation > form > h3 {
    font-size: 1vw;
    line-height: 3vh;
}
.section-requestForConsultation > form > input[type="text"] {
    width: 98.5%;
    height: 3vh;
}
textarea {
    width: 98.5%;
    height: 10vh;
}
.section-requestForConsultation > form > input[type="submit"] {
    position: absolute;
    background-color: royalblue;
    color: white;
    right: 5%;
    font-size: 2vh;
    padding: 0.5vh 3vw;
}
.section-requestForConsultation > div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30vh;
    left: 53vw;
}
.section-requestForConsultation > div > p {
    font-size: 1vw;
    line-height: 2vw;
}