@media(min-width: 800px){
    .section-tuitionInformation {
        height: 135vh;
        position: relative;
    }
    
    .div-tuitionInformation {
        top: 35vh;
        position: absolute;
        left: 300px;
        width: 76.4vw;
        padding: 0;
        margin: 0 3vw;
        height: 500px;
    }
    .div-inner-tuitionInformation {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 1000px;
        font-size: 30px;
        letter-spacing: 4px;
    }
    .div-inner-tuitionInformation > h1 {
        position: absolute;
        font-size: 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: inline-block;
        width: 100px;
    }
    .div-inner-tuitionInformation > table {
        width: 1000px;
        border: 4px solid white;
        text-align: center;
        font-size: 16px;
        line-height: 3;
        margin-top: 50px;
    }
    th, tr, td {
        border: 2px solid white;
    }
    .div-inner-tuitionInformation > h2 {
        position: absolute;
        font-size: 19.5px;
        line-height: 3;
        right: 0;
    }
}

@media(max-width: 800px){
    .section-tuitionInformation {
        height: 110vh;
        position: relative;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .section-tuitionInformation > div {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-tuitionInformation > h1 {
        position: absolute;
        top: 35vh;
        font-size: 36px;
    }
    .section-tuitionInformation > table {
        position: absolute;
        top: 45vh;
        width: 80vw;
        border: 0.5vh solid white;
        text-align: center;
        font-size: 14px;
        line-height: 4vh;
    }
    th, tr, td {
        border: 0.3vh solid white;
    }
    .section-tuitionInformation > h2 {
        font-size: 16px;
        line-height: 1.6;
        bottom: 5vh;
        position: absolute;
    }
}
@media(max-width: 500px){
    .section-tuitionInformation > table {
        position: absolute;
        top: 45vh;
        width: 90vw;
        border: 0.5vh solid white;
        text-align: center;
        font-size: 1vw;
        line-height: 4vh;
    }
}
