.section-whyLuluRala {
    height: 110vh;
    position: relative;
}
.section-whyLuluRala > h1 {
    position: absolute;
    top: 35vh;
    left: 50vw;
    font-size: 3vw;
}
.section-whyLuluRala > img {
    position: absolute;
    top: 47vh;
    left: 25vw;
    width: 30vw;
    height: 50vh;
}
.section-whyLuluRala > div {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 47vh;
    left: 60vw;
}
.section-whyLuluRala > div > p {
    font-size: 1vw;;
    line-height: 2vw;
}