@media(min-width: 1600px){
    .section-whyLuluRala {
        height: 130vh;
        position: relative;
    }
    .div-whyLuluRala {
        position: absolute;
        top: 35vh;
        left: 300px;
        width: 76.5vw;
        padding: 0;
        margin: 0 1vw;
        height: 500px;
    }
    .div-whyLuluRala > h1 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        width: 233px;
        font-size: 30px;
        letter-spacing: 6px;
    }
    .div-inner-whyLuluRala {
        position: absolute;
        display: flex;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 886px;
        font-size: 30px;
        letter-spacing: 6px;
    }
    .div-inner-whyLuluRala > img {
        height: 450px;
        margin-right: 25px;
    }
    .div-inner-whyLuluRala > div {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        width: 500px;
    }
    .div-inner-whyLuluRala > div > h2 {
        font-size: 19.5px;
        line-height: 1.6;
        margin: 0 auto;
        letter-spacing: 6px;
    }
    .div-inner-whyLuluRala > div > p {
        font-size: 13.5px;
        line-height: 1.8;
        letter-spacing: 6px;
    }
}
@media(min-width: 800px) and (max-width: 1600px){
    .section-whyLuluRala {
        height: 130vh;
        position: relative;
    }
    .div-whyLuluRala {
        position: absolute;
        top: 35vh;
        left: 300px;
        width: 76.4vw;
        padding: 0;
        margin: 0 3vw;
        height: 500px;
    }
    .div-whyLuluRala > h1 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        width: 223px;
        font-size: 30px;
        letter-spacing: 4px;
    }
    .div-inner-whyLuluRala {
        position: absolute;
        display: flex;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 886px;
        font-size: 30px;
        letter-spacing: 4px;
    }
    .div-inner-whyLuluRala > img {
        height: 435px;
        margin-right: 25px;
    }
    .div-inner-whyLuluRala > div {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        width: 435px;
    }
    .div-inner-whyLuluRala > div > h2 {
        font-size: 19.5px;
        line-height: 1.6;
        margin: 0 auto;
        letter-spacing: 4px;
    }
    .div-inner-whyLuluRala > div > p {
        font-size: 13.5px;
        line-height: 1.8;
        letter-spacing: 4px;
    }
}

@media(max-width: 800px){
    .section-whyLuluRala {
        height: 150vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .section-whyLuluRala img {
        margin: 35vh auto 0;
        width: 90vw;
        height: 60vw;
    }
    .section-whyLuluRala > h1 {
        font-size: 35px;
        padding-left: 2vw;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 2vh;
        margin-bottom: 5px;
    }
    .section-whyLuluRala h2 {
        font-size: 16px;
        padding-left: 2vw;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 2vh;
        margin-bottom: 5px;
    }
    .section-whyLuluRala p {
        font-size: 14px;
        padding-left: 2vw;
        font-weight: 300;
        line-height: 1.6;
    }
}

@media(max-height: 600px){
    .section-whyLuluRala {
        height: 700px;
        position: relative;
    }
}